
<h1>Hello User,</h1>

<p>
    We have found matching keywork in your facebook group.
</p>

<p>
    Keyword is found in: `<%= @feed_data.name%>` story.
</p>

<p>Thanks have a great day!</p>
  